<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="VSPackage.CPPCheckPlugin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<userSettings>
		<VSPackage.CPPCheckPlugin.Properties.Settings>
			<setting name="CPPcheckPath" serializeAs="Xml">
				<value>
					<ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
						<string>C:\Program Files (x86)\Cppcheck\cppcheck.exe</string>
						<string>C:\Program Files\Cppcheck\cppcheck.exe</string>
					</ArrayOfString>
				</value>
			</setting>
			<setting name="InconclusiveChecksEnabled" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="DefaultArguments" serializeAs="String">
				<value/>
			</setting>
			<setting name="ProjectOnlyCheckCurrentConfig" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="FileOnlyCheckCurrentConfig" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="SeveritiesString" serializeAs="String">
				<value>style,information,warning,performance,portability</value>
			</setting>
			<setting name="SuppressionsString" serializeAs="String">
				<value>unmatchedSuppression</value>
			</setting>
			<setting name="IgnoreIncludePaths" serializeAs="String">
				<value>False</value>
			</setting>
		</VSPackage.CPPCheckPlugin.Properties.Settings>
	</userSettings>
	<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.VisualStudio.Threading" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-15.8.0.0" newVersion="15.8.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
