<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VSPackage.CPPCheckPlugin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <VSPackage.CPPCheckPlugin.Properties.Settings>
            <setting name="CPPcheckPath" serializeAs="String">
                <value>c:\Program Files (x86)\Cppcheck\cppcheck.exe</value>
            </setting>
            <setting name="InconclusiveChecksEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefaultArguments" serializeAs="String">
                <value />
            </setting>
            <setting name="ProjectOnlyCheckCurrentConfig" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FileOnlyCheckCurrentConfig" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SeveritiesString" serializeAs="String">
                <value>style,information,warning,performance,portability,error</value>
            </setting>
            <setting name="SuppressionsString" serializeAs="String">
                <value>passedByValue,cstyleCast,missingIncludeSystem,unusedStructMember,unmatchedSuppression,class_X_Y,missingInclude,constStatement,unusedPrivateFunction</value>
            </setting>
        </VSPackage.CPPCheckPlugin.Properties.Settings>
    </userSettings>
</configuration>